###
# Webhookd configuration.
###

# Working directory.
# Defaults: /tmp
APP_WORKING_DIR=/var/opt/webhookd/work

# Scripts directory.
# Defaults: ./scripts
APP_SCRIPTS_DIR=/var/opt/webhookd/scripts

# Redirect scripts output in the console.
# Warning: Only for debugging purpose.
# Defaults: false
APP_SCRIPTS_DEBUG=false

# Notifier.
# Notify script execution result and logs.
# Values:
#   - "http": Send notification with an HTTP hook (compatible with Mailgun API).
#   - "smtp": Send notification by mail.
#   - "": No notification (defaults).
APP_NOTIFIER=http

# Notifier FROM directive.
# Defaults: "webhookd <noreply@nunux.org>"
APP_NOTIFIER_FROM=Mailgun Sandbox <postmaster@sandboxdexxxxxxxxxxxxxxxxxx.mailgun.org>

# Notifier TO directive.
# Defaults: "hostmaster@nunux.org"
APP_NOTIFIER_TO=foo@bar.org

# HTTP notifier URL.
APP_HTTP_NOTIFIER_URL=http://requestb.in/1gd3ond1
#APP_HTTP_NOTIFIER_URL=https://api.mailgun.net/v2/sandboxdexxxxxxxxxxxxxxxxx.mailgun.org/messages

# HTTP notifier user:password.
APP_HTTP_NOTIFIER_USER=api:key-xxxxxxxxxxxxxxxxxxxxxxxxxx

# SMTP notifier host.
# Defaults: localhost:25
APP_SMTP_NOTIFIER_HOST=localhost:25


